* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar */
nav {
  background: #343434;
  color: white;
  padding: 10px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h2 a {
  text-decoration: none;
  color: inherit;
}
nav .avatar-wrapper {
  background-color: #d3d3d3;
  padding: 5px;
}
/* breadcrumbs */
.breadcrumbs {
  padding: 10px 5vw;
}
.breadcrumbs a{
  color: inherit;
  text-decoration: none;
}
.breadcrumbs .separator {
  margin: 0 1px;
}
.breadcrumbs span {
  text-transform: capitalize;
}
.breadcrumbs span:not(.active) {
  text-decoration: underline;
}
