<!DOCTYPE html>
<html>

<head>
  <title>create project</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/create-project.css">
  <script src="/js/create-project.js" defer></script>

</head>

<body>
  <%- include('../partials/navbar.ejs') %>
  <section class="breadcrumbs">
    <span><a href="/">home</a></span>
    <span class="separator active">/</span>
    <span class="active">Create-Project</span>
  </section>

  <main>

    <form class="stepper" action="/create/project" method="post">
      <div class="accordian accordian-1">
        <h2>Enter Project Title</h2>
        <p class="accordian-div">
          <input name="title" type="text" required>
          <span class="next">Next</span>
        </p>
      </div>
      <div class="accordian accordian-2">
        <h2>Enter Project Author</h2>
        <p class="fold accordian-div">
          <input name="author" type="text" required>
          <span class="next">Next</span>
          <span class="back">Back</span>

        </p>
      </div>
      <div class="accordian accordian-3">
        <h2>Enter Project Description</h2>
        <p class="fold accordian-div">
          <input name="description" type="text" required><br>
          <button class="finish" type="submit">Finish</button>
          <span class="back">Back</span>

        </p>
      </div>
    </form>

  </main>
</body>

</html>